div#nav-head {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	background-color : #FFF;
	color: #000;
	padding: 8px 20px;
	box-shadow: 8px 8px 20px #8E8E8E;
}
div#nav-head a {
	color: #333;
	text-decoration: none;
	font-weight: bold;
}
div#nav-head a:hover {
	color: red;
}
div.nav-link {
	float: left;
}
div.nav-link a {
	padding: 2px 10px;
	margin: 0px 2px;
}
div.powerby {
	float: right;
	color: #444;
}
div#side {
	padding-top: 50px;
	float: left;
	width: 300px;
}
div#side h3 {
	font-size: 16px;
	margin-bottom: 5px;
}
div#side a {
	text-decoration: none;
	color: #444;
}
div#side a:hover {
	color: red;
}
div#main {
	padding-top: 30px;
	float: left;
	width: 800px;
}
div.article-item {
	padding: 10px 20px;
	margin-bottom: 50px;
	border: 1px solid #FFF;
	cursor: pointer;
}
.article-hover {
	background-color: #E8F7FF;
	border: 1px solid #FFE7C4;
}
.article-title {
	
}
.article-title h2, .article-title h1 {
	margin: 10px;
	font-size: 42px;
	text-shadow: 3px 1px 3px #888;
}
.article-title a {
	text-decoration: none;
	color: #444;
}
.article-title a:hover {
	color: red;
}
.article-time {
	margin-left: 10px;
}
.article-content {

}

/** 根据屏幕宽度调整布局 */
@media screen and (max-width: 1165px) {
	#side {
		display: none;
	}
	#main {
		margin-left: 15%;
	}
}
@media screen and (max-width: 970px) {
	#main {
		margin-left: 5%;
	}
}